<p-panel header="Product Description">
    <div class="ui-g">
        <div class="ui-g-4">

            <img class="img-css" src="../../assets/category-1.jpg" width="70%">

        </div>
        <div class="ui-g-8 ui-g-nopad">
            <div class="ui-g-12">
                <h6>Product Name</h6>
            </div>
            <div class="ui-g-6">
                Product Name:
            </div>
            <div class="ui-g-6">

                Product Group:
            </div>
            <div class="ui-g-12">Product Description: </div>
        </div>

    </div>
</p-panel>